@media (min-width:770px) and (max-width:1440px) {
	.section_Vinos {
		display: grid;
		grid-template-columns: 17rem 17rem 17rem;
		grid-template-rows: 19rem 19rem;
		justify-content: center;
		text-align: center;
	}
	.section_Vinos_Row {
		border: 5px solid #212121;
		height: 17rem;
		width: 14rem;
		object-fit: contain;
		margin: 0;
		cursor: pointer;
	}
	#vinoLUCA {
		margin-left: 18rem;
	}
	#carruselNext{
		margin-top: 40%;
    	width: 20px;
    	height: 3%;
	}
	#carruselPrev{
		margin-top: 40%;
    	width: 20px;
    	height: 3%;
	}
	.formularioPaginaPrincipal {
		margin: 0;
		width: 80vh;
		border-width: 20px;
		border: 5px solid #212121;
		grid-area: formulario;
		margin: 1rem 1rem 0rem 5rem;
		height: 400px;
		width: 60vw;
		z-index: 1;
		justify-content: center;
	}
	.vinoImgCarrusel {
		height: 350px;
		width: 250px;
	}
	.sectionPaginaPrincipal {
		display: grid;
		grid-template-areas: "formulario formulario" "carrusel carrusel";
		grid-template-rows: 400px 400px;
		grid-template-columns: 400px 400px;
	}
	#exampleInputEmail1 {
		width: 400px;
		background-color: $background-color_6;
		color: $color_2;
	}
	.formularioParrafo {
		background-color: $background-color_5;
		color: $color_1;
	}
	.imgCarruselFormulario {
		object-fit: cover;
		height: 500px;
		width: auto;
		border-radius: 60px;
		margin: 70px;
		z-index: 0;
	}
	.carruselAutomatico {
		object-fit: contain;
		grid-area: carrusel;
	}
	.carousel-item {
		object-fit: contain;
	}
	.contenedorTienda {
		display: grid;
		grid-template-areas: "nav vino1 ""nav vino2 ""nav vino3 ""vino1 vino2 ""vino3 vino1 ""vino2 vino3 ";
		grid-template-columns: 20rem 20rem;
		grid-template-rows: 80rem 80rem 80rem 80rem 80rem 80rem;
		gap: 30px;
	}
	.divTienda1 {
		display: grid;
		grid-area: vino1;
		display: block;
		text-align: center;
		display: flex;
		flex-direction: column;
		padding: 60px;
		height: auto;
		width: auto;
		margin-top: 20px;
	}
	.divTienda2 {
		display: grid;
		grid-area: vino2;
		display: block;
		text-align: center;
		display: flex;
		flex-direction: column;
		padding: 60px;
		height: auto;
		width: auto;
		margin-top: 20px;
	}
	.divTienda3 {
		display: grid;
		grid-area: vino3;
		display: block;
		text-align: center;
		display: flex;
		flex-direction: column;
		padding: 60px;
		height: auto;
		width: auto;
		margin-top: 10px;
		margin-bottom: 160px;
	}
	.producto {
		background-color: $background-color_1;
		border: 1px solid #ddd;
		margin: 5px;
		padding: 20px;
		max-width: 400px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		img {
			max-width: 10rem;
			object-fit: contain;
			height: auto;
		}
		h2 {
			margin: 10px 0;
			font-size: 1.2rem;
			height: 5px;
		}
		p {
			font-size: 1rem;
			height: 20px;
		}
		button {
			background-color: $background-color_7;
			color: $color_3;
			border: none;
			padding: 10px 20px;
			cursor: pointer;
			font-size: 1rem;
			height: 30px;
			margin: 0px;
			&:hover {
				background-color: $background-color_8;
			}
		}
	}
	.navegacionTienda {
		grid-area: nav;
		border: #212121 5px solid;
		height: 40rem;
		margin: 2rem 2rem 2rem 4rem;
	}
	footer {
		color: $color_1;
		background-color: $background-color_5;
		height: 160px;
		width: 100vw;
		margin-top: 15rem;
		display: flex;
		flex-direction: row;
		justify-content: center;
		display: grid;
		grid-area: footer;
		grid-template-areas: "logo1 logo2 logo3" "parrafo parrafo parrafo";
		grid-template-rows: 90px 90px;
		grid-template-columns: 150px 150px 150px;
	}
	.logosFooter1 {
		grid-area: logo1;
		justify-content: center;
		height: 3rem;
		width: 3rem;
		margin-left: 0;
		border-color: $border-color_1;
		border-radius: 20px;
		cursor: pointer;
		margin-top: 15px;
	}
	.logosFooter2 {
		grid-area: logo2;
		justify-content: center;
		height: 3rem;
		width: 3rem;
		margin-left: 0;
		border-color: $border-color_1;
		border-radius: 20px;
		cursor: pointer;
		margin-top: 15px;
	}
	.logosFooter3 {
		grid-area: logo3;
		justify-content: center;
		height: 3rem;
		width: 3rem;
		margin-left: 0;
		border-color: $border-color_1;
		border-radius: 20px;
		cursor: pointer;
		margin-top: 15px;
	}
	.footerParrafo {
		grid-area: parrafo;
		margin-top: -1rem;
		padding-top: 0rem;
		padding-left: 2rem;
	}
	.divContactoPadre {
		margin: 0rem;
		display: grid;
		grid-template-areas: "logo2 email" "logo1 tel";
		grid-template-columns: 70px 70px;
		grid-template-rows: 140px 140px;
		background-color: $background-color_12;
		border-radius: 50px;
		text-align: center;
	}
	.imgContacto1 {
		height: 2rem;
		width: 2rem;
		object-fit: contain;
		grid-area: logo1;
		margin-left: 1rem;
	}
	.imgContacto2 {
		height: 2rem;
		width: 2rem;
		object-fit: contain;
		grid-area: logo2;
		margin-left: 1rem;
		margin-top: 5rem;
	}
	.h2ContactoHijo1 {
		grid-area: email;
		margin-top: 5.5rem;
	}
	.h2ContactoHijo2 {
		grid-area: tel;
		margin-top: 1rem;
	}
	.mainConocenos {
		background-color: $background-color_5;
		height: auto;
		width: auto;
		text-align: center;
		margin: 20px 20px 20px 20px;
		border-radius: 5px;
		padding: 1rem;
	}
	.h2Conocenos {
		color: $color_2;
		text-decoration: underline;
		font-size: 3rem;
		width: auto;
	}
	.parrafoConocenos {
		color: $color_1;
		font-size: 1.2rem;
		padding: 2rem;
		text-align: center;
	}
}
@media (max-width: 770px) {
	//menu hamburguesa
	.navegacion__Paginas__ul{
		display: flex;
		flex-direction: column;
		position: fixed;
		background-color: #7a001f;
		border-radius: 20px;
		z-index: 1;
		top: 0;
		right: 0;
		bottom: 10;
		padding: 2rem;
		opacity: 0;
		visibility: hidden;
		transition: all .5s;
		justify-content: space-between;
	}
	.navegacion__Paginas__ul.abierto{
		visibility:visible;
		opacity: 1;
		position: fixed;
	}
	.navegacion__Paginas__li{
		width: 100%;	
		border-bottom: 5px solid #212121;
		border-radius: 20px;
	} 
	.menuAbrir{
		display: block;
		position: absolute;
		background: none;
		font-size: 40px;
		color: white;
		border: none;
		cursor: pointer;
		padding-right: 50px;
	}
	.menuCerrar{
		display: block;
		background: none;
		font-size: 40px;
		color: white;
		border: none;
		cursor: pointer;
	}
	.header__Navegacion { /*Barra de Navegacion*/
		display: flex;
		height: 170px;
		width: auto;
		background-color: $background-color_2;
		padding: 1px 1px; /* Espaciado interno para la barra de navegación */
		color: $color_1;
		z-index: 1;
	}
	.section_Vinos {
		display: grid;
		grid-template-columns: 17rem 17rem;
		grid-template-rows: 19rem 19rem 19rem;
		justify-content: center;
	}
	.section_Vinos_Row {
		border: 5px solid #212121;
		height: 17rem;
		width: 15rem;
		object-fit: contain;
		margin: 0;
		cursor: pointer;
		border: 5px solid #212121;
		height: 15rem;
		width: 12rem;
		object-fit: contain;
		margin-left: 30px;
		cursor: pointer;
		&:hover {
			background: linear-gradient(to bottom,#7a001f 2%,#21212100 10%);
		}
	}
	#vinoLUCA {
		margin-left: 140px;
	}
	#carruselNext{
		margin-top: 40%;
    	width: 20px;
    	height: 10%;
	}
	#carruselPrev{
		margin-top: 40%;
    	width: 20px;
    	height: 10%;
	}
	.parrafoVinosRow {
		margin-left: 30px;
	}
	.divVinosRow {
		margin-right: 32px;
	}
	.carruselAutomatico {
		display: none;
	}
	.titulo__vino__h2 {
		font-size: 1.5rem;
	}
	.formularioPaginaPrincipal {
		margin: 0;
		width: 100vw;
	}
	.vinoImgCarrusel {
		height: 150px;
		width: 140px;
	}
	//FOOTER
	footer {
		color: $color_1;
		background-color: $background-color_5;
		height: 160px;
		width: 100vw;
		margin-top: 15rem;
		display: flex;
		flex-direction: row;
		justify-content: center;
		display: grid;
		grid-area: footer;
		grid-template-areas: "logo1 logo2 logo3" "parrafo parrafo parrafo";
		grid-template-rows: 90px 90px;
		grid-template-columns: 150px 150px 150px;
	}
	.logosFooter1 {
		grid-area: logo1;
		justify-content: center;
		height: 3rem;
		width: 3rem;
		margin-left: 0;
		border-color: $border-color_1;
		border-radius: 20px;
		cursor: pointer;
		margin-top: 15px;
	}
	.logosFooter2 {
		grid-area: logo2;
		justify-content: center;
		height: 3rem;
		width: 3rem;
		margin-left: 0;
		border-color: $border-color_1;
		border-radius: 20px;
		cursor: pointer;
		margin-top: 15px;
	}
	.logosFooter3 {
		grid-area: logo3;
		justify-content: center;
		height: 3rem;
		width: 3rem;
		margin-left: 0;
		border-color: $border-color_1;
		border-radius: 20px;
		cursor: pointer;
		margin-top: 15px;
	}
	.footerParrafo {
		grid-area: parrafo;
		margin-top: -1rem;
		padding-top: 0rem;
		padding-left: 6rem;
	}
	.contenedorTienda {
		display: grid;
		grid-template-areas: "nav" "vino1" "vino2" "vino3";
		grid-template-columns: 400px;
		grid-template-rows: 600px;
		gap: 30px;
		justify-content: center;
	}
	.divTienda1 {
		display: grid;
		grid-area: vino1;
		display: inline-block;
		text-align: center;
		display: flex;
		flex-direction: column;
		padding: 30px;
		height: auto;
	}
	.divTienda2 {
		display: grid;
		grid-area: vino2;
		display: inline-block;
		text-align: center;
		display: flex;
		flex-direction: column;
		padding: 30px;
		height: auto;
	}
	.divTienda3 {
		display: grid;
		grid-area: vino3;
		display: inline-block;
		text-align: center;
		display: flex;
		flex-direction: column;
		padding: 30px;
		height: auto;
	}
	.producto {
		background-color: $background-color_1;
		border: 1px solid #ddd;
		margin: 10px;
		padding: 20px;
		max-width: 400px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		img {
			max-width: 10rem;
			object-fit: contain;
			height: auto;
		}
		h2 {
			margin: 10px 0;
			font-size: 1.2rem;
			height: 5px;
		}
		p {
			font-size: 1rem;
			height: 20px;
		}
		button {
			background-color: $background-color_7;
			color: $color_3;
			border: none;
			padding: 10px 20px;
			cursor: pointer;
			font-size: 1rem;
			height: 40px;
			margin: 5px;
			&:hover {
				background-color: $background-color_8;
			}
		}
	}
	.navegacionTienda {
		grid-area: nav;
		border: #212121 5px solid;
		height: 40rem;
		margin: 10px;
	}
	.listaVinosTienda {
		margin: 2rem;
	}
	.section__Vinos__Div {
		margin: 10px;
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
	}
	.navegacionTiendaPlaceHolder {
		margin: 5px;
		padding: 4px;
	}
	.divContactoPadre {
		margin: 0rem;
		display: grid;
		grid-template-areas: "logo2 email" "logo1 tel";
		grid-template-columns: 70px 70px;
		grid-template-rows: 140px 140px;
		background-color: $background-color_12;
		border-radius: 50px;
		text-align: center;
	}
	.imgContacto1 {
		height: 2rem;
		width: 2rem;
		object-fit: contain;
		grid-area: logo1;
		margin-left: 1rem;
	}
	.imgContacto2 {
		height: 2rem;
		width: 2rem;
		object-fit: contain;
		grid-area: logo2;
		margin-left: 1rem;
		margin-top: 5rem;
	}
	.h2ContactoHijo1 {
		grid-area: email;
		margin-top: 5.5rem;
	}
	.h2ContactoHijo2 {
		grid-area: tel;
		margin-top: 1rem;
	}
	.mainConocenos {
		background-color: $background-color_5;
		height: auto;
		width: auto;
		text-align: center;
		margin: 20px 20px 20px 20px;
		border-radius: 5px;
		padding: 1rem;
	}
	.h2Conocenos {
		color: $color_2;
		text-decoration: underline;
		font-size: 2rem;
		width: auto;
	}
	.parrafoConocenos {
		color: $color_1;
		font-size: 1.2rem;
		padding: 2rem;
		text-align: center;
	}
}
@media (max-width: 480px) {
	    /* MENU INICIO INDEX */
    /*VinoMenu*/
	.vino__Menu__Div {
		height: 750px;
		width: 100vw;
		object-fit: contain;
	}
	.vino__Menu__Titulo__1 {
		font-size: 4rem;
		margin-left: 80px;
	}
	.vino__Menu__Titulo__2 {
		font-size: 4rem;
		margin-left: 90px;
	}
	.vino__Menu__Titulo__3 {
		font-size: 6rem;
		margin-left: 100px;
	}
	.vino__Menu__Titulo__4 {
		font-size: 7rem;
		margin-left: 110px;
	}
	.header__Navegacion { /*Barra de Navegacion*/
		display: flex;

		height: 130px;
		width: auto;
		background-color: $background-color_2;
		padding: 1px 1px; /* Espaciado interno para la barra de navegación */
		color: $color_1;
		z-index: 1;
		
	}
	.navegacion__Paginas__li {
		margin-bottom: 5px;
		display: inline-block;
	}
	.navegacion__Paginas__ul {
		font-size: 0px;
		margin-top: 30px;
		margin-bottom: -15px;
	}
	.navegacion__Paginas__a {
		font-size: 1rem;
	}
	/* Estilo para el logo */
	.imagen__Logo__Principal {
		max-block-size: 60px;
		border-radius: 15px;
		&:hover {
			display: block;
		}
	}
	/*Primera fila de Vinos Menu Principal*/
	.section_Vinos { /*Grid padre*/
		display: grid;
		grid-template-columns: 15rem;
		grid-template-rows: 21rem 21rem 24rem 21rem 21rem;
		justify-content: center;
	}
	.section_Vinos_Row { /*Grid hijos*/
		border: 5px solid #212121;
		height: 17rem;
		width: 15rem;
		object-fit: contain;
		margin: 0;
		cursor: pointer;
	}
	#vinoLUCA {
		margin: 0;
	}
	#carruselNext{
		margin-top: 70%;
    	width: 20px;
    	height: 10%;
	}
	#carruselPrev{
		margin-top: 70%;
    	width: 20px;
    	height: 10%;
	}
	.carruselAutomatico {
		display: none;
	}
	.titulo__vino__h2 {
		font-size: 1.5rem;
	}
	/* FORMULARIO */
	.formularioPaginaPrincipal { /*Grid hijo*/
		border-width: 20px;
		border: 5px solid #212121;
		grid-area: formulario;
		margin: 1rem 1rem 0rem 1rem;
		height: 450px;
		width: 90vw;
	}
	#exampleInputEmail1 {
		width: 100%;
		background-color: $background-color_6;
		color: $color_2;
	}
	.mb-3 {
		margin: 3rem;
		margin-left: 50px;
	}
	#botonEnviarFormulario {
		margin-left: 50px;
	}
	.formularioParrafo {
		background-color: $background-color_5;
		color: $color_1;
	}
	//PAGINA CONOCENOS
	.h1Conocenos {
		font-size: 2rem;
		width: auto;
		background-color: $background-color_2;
		color: $color_1;
		border-radius: 50px;
		text-align: center;
		margin-top: 5rem;
		margin-left: 1rem;
	}
	.h1Contacto {
		width: 406px;
		font-size: 3rem;
		background-color: $background-color_5;
		color: $color_1;
		text-align: center;
		width: auto;
		font-size: 2rem;
	}
	.a__Conocenos {
		font-size: 2rem;
	}
	.mainConocenos {
		background-color: $background-color_5;
		height: auto;
		width: auto;
		text-align: center;
		margin: 20px 20px 20px 20px;
		border-radius: 5px;
		padding: 1rem;
	}
	.h2Conocenos {
		color: $color_2;
		text-decoration: underline;
		font-size: 1.5rem;
		width: auto;
	}
	.parrafoConocenos {
		color: $color_1;
		font-size: 1.2rem;
		padding: 2rem;
		text-align: center;
	}
	.sectionConocenos {
		background-color: $background-color_10;
		height: 18rem;
		width: auto;
	}
	.h3Conocenos {
		margin-left: 4rem;
		color: $color_1;
		text-decoration: none;
		font-size: 1.5rem;
	}
	.divContactoPadre {
		margin: 0rem;
		display: grid;
		grid-template-areas: "logo2 email" "logo1 tel";
		grid-template-columns: 70px 70px;
		grid-template-rows: 140px 140px;
		background-color: $background-color_12;
		border-radius: 50px;
		text-align: center;
	}
	.imgContacto1 {
		height: 2rem;
		width: 2rem;
		object-fit: contain;
		grid-area: logo1;
		margin-left: 1rem;
	}
	.imgContacto2 {
		height: 2rem;
		width: 2rem;
		object-fit: contain;
		grid-area: logo2;
		margin-left: 1rem;
		margin-top: 5rem;
	}
	.h2ContactoHijo1 {
		font-size: 1rem;
		grid-area: email;
		margin-top: 5.5rem;
	}
	.h2ContactoHijo2 {
		font-size: 1rem;
		grid-area: tel;
		margin-top: 1rem;
	}
	footer {
		color: $color_1;
		background-color: $background-color_5;
		height: 160px;
		width: 100vw;
		margin-top: 15rem;
		display: flex;
		flex-direction: row;
		justify-content: center;
		display: grid;
		grid-area: footer;
		grid-template-areas: "logo1 logo2 logo3" "parrafo parrafo parrafo";
		grid-template-rows: 90px 90px;
		grid-template-columns: 50px 50px 50px;
	}
	.logosFooter1 {
		grid-area: logo1;
		justify-content: center;
		height: 2rem;
		width: 2rem;
		margin-left: 0;
		border-color: $border-color_1;
		border-radius: 20px;
		cursor: pointer;
		margin-top: 15px;
	}
	.logosFooter2 {
		grid-area: logo2;
		justify-content: center;
		height: 2rem;
		width: 2rem;
		margin-left: 0;
		border-color: $border-color_1;
		border-radius: 20px;
		cursor: pointer;
		margin-top: 15px;
	}
	.logosFooter3 {
		grid-area: logo3;
		justify-content: center;
		height: 2rem;
		width: 2rem;
		margin-left: 0;
		border-color: $border-color_1;
		border-radius: 20px;
		cursor: pointer;
		margin-top: 15px;
	}
	.footerParrafo {
		grid-area: parrafo;
		margin-top: -1rem;
		padding-top: 0rem;
		padding-left: 0rem;
	}
	.containerContacto {
		max-width: 600px;
		margin: 25px auto;
		padding: 20px;
		background-color: $background-color_10;
		border-radius: 20px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	}
	.mainContacto {
		background-color: $background-color_11;
		border-radius: 50px;
	}
	.formContacto {
		display: flex;
		flex-direction: column;
	}
	.contactoTituloForm {
		color: $color_1;
	}
	.labelContacto {
		margin-bottom: 8px;
		color: $color_1;
	}
	.subtitulosFormulario {
		color: $color_1;
	}
	input {
		margin-bottom: 16px;
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: 4px;
		font-size: 16px;
	}
	textarea {
		margin-bottom: 16px;
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: 4px;
		font-size: 16px;
	}
	#mensaje {
		resize: none;
	}
	input[type="submit"] {
		background-color: $background-color_7;
		color: $color_1;
		cursor: pointer;
		&:hover {
			background-color: $background-color_8;
			color: $color_1;
		}
	}
	//PAGINA TIENDA
	.navegacionTienda {
		display: none;
	}
	.contenedorTienda {
		display: grid;
		grid-template-areas: "vino1" "vino1" "vino1" "vino1" "vino1" "vino1" "vino2" "vino2" "vino2" "vino2" "vino2" "vino2" "vino3" "vino3" "vino3" "vino3" "vino3" "vino3";
		grid-template-columns: 200px;
		grid-template-rows: 200px;
		gap: 30px;
		display: inline-block;
		justify-content: center;
	}
	.divTienda1 {
		display: grid;
		grid-area: vino1;
		text-align: center;
		display: flex;
		flex-direction: column;
		padding: 0px;
		height: auto;
		width: auto;
	}
	.divTienda2 {
		display: grid;
		grid-area: vino2;
		text-align: center;
		display: flex;
		flex-direction: column;
		padding: 0px;
		height: auto;
		width: auto;
	}
	.divTienda3 {
		display: grid;
		grid-area: vino3;
		text-align: center;
		display: flex;
		flex-direction: column;
		padding: 0px;
		height: auto;
		width: auto;
	}
	.producto {
		background-color: $background-color_1;
		border: 1px solid #ddd;
		margin: 10px;
		padding: 20px;
		width: 80vw;
		height: 500px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		justify-content: center;
		img {
			width: auto;
			object-fit: contain;
			height: 200px;
		}
		h2 {
			margin: 10px 0;
			font-size: 1.2rem;
			height: 5px;
			width: auto;
		}
		p {
			font-size: 1rem;
			height: 20px;
			width: auto;
		}
		button {
			background-color: $background-color_7;
			color: $color_3;
			border: none;
			padding: 10px 20px;
			cursor: pointer;
			font-size: 1rem;
			height: 40px;
			margin: 5px;
			width: auto;
		}
	}
}
