$font-family_1: 'Merriweather', serif;
$color_1: #FFF8E7;
$color_2: #7a001f;
$color_3: #fff;
$background-color_1: #FFF8E7;
$background-color_2: #7a001f;
$background-color_3: #58001675;
$background-color_4: rgba(59, 1, 16, 0.418);
$background-color_5: #212121;
$background-color_6: #21212136;
$background-color_7: #333;
$background-color_8: #555;
$background-color_9: #2121213d;
$background-color_10: #333333;
$background-color_11: #8080002d;
$background-color_12: #21212100;
$border-color_1: #212121;
