* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #FFF8E7;
}
h1{
    font-family: 'Merriweather', serif;
    src: url(https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap);
}
h2{
    font-family: 'Merriweather', serif;
    src: url(https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap);
}
p{   
    font-family: 'Merriweather', serif;
    src: url(https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap);

}
/* -------------------------------------------------------------------------------------------- */
                /*Barra de Navegacion*/
.header__Navegacion {
    display: flex;
    height: 170px;
    align-items: center;
    justify-content: space-between;
    background-color: #7a001f;
    padding: 10px 20px; /* Espaciado interno para la barra de navegaci贸n */
    color: #FFF8E7;
}
/* Estilo para el logotipo */
.Logo__Vino__Teca:hover {
    background-color: #58001675;
    width: 120px;
    border-radius: 20px;
}
.imagen__Logo__Principal{
    max-block-size: 120px;
    border-radius: 35px;
}
/* Estilo para la lista de navegaci贸n */
.navegacion__Paginas__ul {
    list-style: none;
    padding: 0;
    margin-top: 60px; 
}
.navegacion__Paginas__li {
    display: inline;
    margin-right: 35px; /* Espaciado entre elementos de la navegaci贸n */
}
.navegacion__Paginas__a {
    text-decoration: none;
    color: #FFF8E7;
    font-size: 20px;
}
/* Estilo de enlaces al pasar el mouse por encima */
.navegacion__Paginas__a:hover {
    text-decoration:underline;
    color: #FFF8E7;
    background-color: rgba(59, 1, 16, 0.418);
    border-color: #212121;
    border-radius: 5px;
}
/*--------------------------*/

.titulo__vino__h2{ /* SUBTITULO H2 */
    background-color: #212121;
    color: #FFF8E7;
    display: flex;
    justify-content:center;
    margin-bottom: 2rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    height: 6rem;
    font-size: 2rem;
}
.br__Division{ /* Linea de division */
    display: block;
    margin-top: 5rem;
    height: 2rem;
    background-color: #212121;
}

                /* IMAGENES */

/* Imagen de vino MenuPrincipal */
.vino__Menu__Div{
    display: inline-block;
    height:calc(100vh - 170px);
    width: 118.91rem;
    background-image: url(./imgs/Wine_Black_background_Bottle_Stemware_.jpg);
    background-size:cover;
    background-position:center 100% bottom 100%;
    background-repeat:no-repeat;
    background-attachment: fixed;
}
.vino__Menu__Titulo__1{ /*Titulo MENU PRINCIPAL*/
    margin-left:2rem;
    color: #FFF8E7;
    font-size: 500%;
}
.vino__Menu__Titulo__2{
    margin-left:4rem;
    color: #FFF8E7;
    font-size: 500%;
}
.vino__Menu__Titulo__3{
    margin-left:8rem;
    color: #FFF8E7;
    font-size: 500%;
}
.vino__Menu__Titulo__4{
    margin-left: 14rem;
    color: #FFF8E7;
    font-size: 500%;
}
/*-------------------------*/

/* PRIMERA FILA DE VINOS */

.section_Vinos { /*Grid padre*/
    display: grid;
    grid-template-columns: 22rem 22rem 22rem 22rem 22rem;
    grid-template-rows: 20rem;
    justify-content: center;
}
.section_Vinos_Row { /*Grid hijos*/
    border: 5px solid #212121;
    height: 23rem;
    width: 17rem;
    object-fit: contain;
    margin:0;
    cursor: pointer;
}

/* 1ER CARRUSEL */

.vinoImgCarrusel{
    object-fit: contain;
    height: 23rem;
    width: 17rem;
    object-fit: contain;
    margin:90px 0px 20px 10px;
    cursor: pointer;
    border: 2px solid #7a001f;
    transition: all .5s;
}
.carousel-item{
    text-align: center;
}
.vinoImgCarrusel:hover{
    background: linear-gradient(to bottom,#21212149 5%,#21212100 13%);
    transition: all .5s;
}
.carruselVinos{
    border: 2px solid #212121;
    margin: 1rem;
}
.subtituloDestacados{
    position: absolute;
    display: block;
    justify-content: flex-start;
    margin: 30px;
}
.carousel-control-prev{
    background-color: #212121;
    margin-top: 20%;
    width: 1%;
    height: 1%;
}
.carousel-control-prev-icon{
    background-color: #212121;
}
.carousel-control-next{
    background-color: #212121;
    margin-top: 20%;
    width: 1%;
    height: 1%;
}
.carousel-control-next-icon{
    background-color: #212121;
}
/*--------------------------*/

/* Section formulario y carrusel automatico */

.sectionPaginaPrincipal{ /*Grid padre*/
    display: grid;
    grid-template-areas: 
    "formulario carrusel"
    "formulario carrusel";
    grid-template-rows:10rem 10rem ;
    grid-template-columns: 50rem 60rem;
}

/* FORMULARIO */
.formularioPaginaPrincipal{ /*Grid hijo*/
    border-width: 20px;
    border: 5px solid #212121;
    grid-area: formulario;
    margin:4rem 1rem 0rem 5rem;
    height: 400px;
}
#exampleInputEmail1{
    width: 400px;
    background-color: #21212136;
    color: #7a001f;
}
.mb-3{
    margin: 3rem;
}
#botonEnviarFormulario{
    margin-left: 50px;
}
.mb-3{
    margin-left: 50px;
}
.formularioParrafo{
    background-color: #212121;
    color: #FFF8E7;
}
/* CARRUSEL AUTOMATICO */
.imgCarruselFormulario{
    object-fit: cover;
}
.carruselAutomatico{ /*Grid hijo*/
    object-fit: contain;
    grid-area: carrusel;
}
.carousel-item{
    object-fit: contain;
}
/*--------------------------*/

                /* FOOTER */
footer{
    color: #FFF8E7;
    background-color: #212121;
    height: 160px;
    margin-top: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    display: grid;
    grid-area: footer;
    grid-template-areas:
    "logo1 logo2 logo3"
    "parrafo parrafo parrafo";
    grid-template-rows: 80px 80px;
    grid-template-columns: 18rem 18rem 18rem;
}
.logosFooter1{
    grid-area: logo1;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    margin-left:0;
    border-color: #212121;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 15px;
}
.logosFooter2{
    grid-area: logo2;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    margin-left:0;
    border-color: #212121;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 15px;
}
.logosFooter3{
    grid-area: logo3;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    margin-left:0;
    border-color: #212121;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 15px;
}
.footerParrafo{
    grid-area: parrafo;
    padding-top: 2rem;
    padding-left: 15rem;
}
/*--------------------------*/

                /* PAGINA TIENDA*/
.h1Tienda{
    background-color: #212121;
    color: #FFF8E7;
    text-align: center;
}
.contenedorTienda{
    display: grid;
    grid-template-areas:
    "nav vino1 vino1 vino1"
    "nav vino1 vino1 vino1"
    "nav vino2 vino2 vino2"
    "nav vino2 vino2 vino2"
    "nav vino3 vino3 vino3"
    "nav vino3 vino3 vino3";
    grid-template-columns:20rem 27rem 27rem  27rem  ;
    grid-template-rows: 20rem 20rem 20rem 20rem 20rem 20rem;
    gap: 30px;
}
.divTienda1{
    display: grid;
    grid-area: vino1;
    display: inline-block;
    text-align: center;
    display: flex;
    padding: 30px;
    height: auto;
}
.divTienda2{
    display: grid;
    grid-area: vino2;
    display: inline-block;
    text-align: center;
    display: flex;
    padding: 30px;
    height: auto;
}
.divTienda3{
    display: grid;
    grid-area: vino3;
    display: inline-block;
    text-align: center;
    display: flex;
    padding: 30px;
    height: auto;
}
.producto {
    background-color: #21212136;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 20px;
    max-width: 400px;
    /* height: auto; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.producto img {
    max-width: 10rem;
    object-fit: contain;
    height: auto;
}
.producto h2 {
    margin: 10px 0;
    font-size: 1.2rem;
    height: 5px;
}
.producto p {
    font-size: 1rem;
    height: 20px;
}
.producto button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    height: 40px;
    margin: 5px;
}
.producto button:hover {
    background-color: #555;
}

.navegacionTienda{
    grid-area: nav;
    border: #212121 5px solid;
    height: 50rem;
    margin: 2rem 2rem 2rem 4rem;
}
.listaVinosTienda{
    margin: 3rem;
}
.navegacionTiendaPlaceHolder{
    margin: 5px;
    padding: 4px;
}
/*--------------------------*/

                /* PAGINA CONTACTO */

.h1Contacto{
    background-color: #212121;
    color: #FFF8E7;
    text-align: center;
    width: auto;
}
.divContactoPadre{
    margin: 5rem ;
    display: grid;
    grid-template-areas: 
    "logo2 email"
    "logo1 tel";
    grid-template-columns: 40rem 40rem;
    grid-template-rows: 10rem 10rem;
    background-color: #2121213d;
    border-radius: 50px;
}
.imgContacto1{
    height: 3rem;
    width: 3rem;
    object-fit: contain;
    grid-area: logo1;
    margin-left: 35rem;
}
.imgContacto2{
    height: 3rem;
    width: 3rem;
    object-fit: contain;
    grid-area: logo2;
    margin-left: 35rem;
    margin-top: 5rem;
}
.h2ContactoHijo1{
    grid-area: email;
    margin-top: 5.5rem;
}
.h2ContactoHijo2{
    grid-area: tel;
    margin-top: 1rem;
}
.containerContacto {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #333333;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.mainContacto{
    background-color:#8080002d;
    border-radius: 50px;
}
.formContacto {
    display: flex;
    flex-direction: column;
}
.contactoTituloForm{
    color: #FFF8E7;
}
.labelContacto {
    margin-bottom: 8px;
    color: #FFF8E7;
}
.subtitulosFormulario{
    color: #FFF8E7 ;
}
input, textarea {
    margin-bottom: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
#mensaje{
    resize: none;
}
input[type="submit"] {
    background-color: #333;
    color: #FFF8E7;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
    color: #FFF8E7;
}
/*--------------------------*/

                /* PAGINA CONOCENOS */

.h1Conocenos{
    background-color: #7a001f;
    color: #FFF8E7;
    border-radius: 50px;
    text-align: center;
    margin-top: 5rem;
}
.a__Conocenos{
    color: #FFF8E7;
    text-decoration: none;
}
.mainConocenos{
    background-color: #212121;
    height: 600px;
    width: 1100px;
    text-align: center;
    margin: 2rem 2rem 2rem 25rem;
    border-radius: 5px;
    padding: 1rem;
}
.h2Conocenos{
    color:#FFF8E7 ;
    font-size: 3rem;
}
.parrafoConocenos{
    color:#FFF8E7 ;   
    font-size: 1.2rem;
    padding: 1rem;
    text-align:center;
}
.sectionConocenos{
    background-color: #333333;
    height: 18rem;
    margin: 0;
}
.h2Conocenos{
    margin-left: 4rem;
    text-decoration: underline;
    color: #7a001f;
}
.h3Conocenos{
    margin-left: 4rem;
    color:#FFF8E7 ;
    text-decoration: none;
    font-size: 1.5rem;
}
h3{
    margin: 1rem 0rem 2rem 0rem;
}

                /* ACCEDER Y REGISTRARSE */
.h1Acceder{
    background-color: #212121;
    color: #FFF8E7;
}
.containerAcceder {
    max-width: 600px;
    margin: 50px auto;
    margin-left: 10rem;
    padding: 20px;
    background-color: #333333;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.formAcceder {
    display: flex;
    flex-direction: column;
}
.contactoTituloForm{
    color: #FFF8E7;
}
.labelAcceder {
    margin-bottom: 8px;
    color: #FFF8E7;
}
.botonAcceder{
    width: 250px;
}
.usuarioAcceder{
    width: 400px;
}
.passwordAcceder{
    width: 400px;
}
.emailAcceder{
    width: 400px;
}
/*--------------------------*/

/* Media Queries */

/* Pagina Conocenos */

@media (max-width: 480px) {
                    /*Barra de Navegacion*/
.header__Navegacion {
    display: flex;
    height: 120px;
    width: auto;
    align-items: center;
    justify-content: space-between;
    background-color: #7a001f;
    padding: 10px 10px; /* Espaciado interno para la barra de navegaci贸n */
    color: #FFF8E7;
}
.navegacion__Paginas__ul{
    display: none;
}
/* Estilo para el logotipo */
.Logo__Vino__Teca:hover {
    background-color: #58001675;
    width: 120px;
    border-radius: 20px;
}
.imagen__Logo__Principal{
    max-block-size: 80px;
    border-radius: 35px;
}
.h1Conocenos{
    font-size: 2rem;
    width: 406px;
}
.h1Contacto{
    width: 406px;
    font-size: 3rem;
}
.a__Conocenos{
    font-size: 2rem;
}
.h1Conocenos{
    background-color: #7a001f;
    color: #FFF8E7;
    border-radius: 50px;
    text-align: center;
    margin-top: 5rem;
    margin-left: 1rem;
}
.mainConocenos{
    background-color: #212121;
    height: 1850px;
    width: 350px;
    text-align: center;
    margin: 20px 20px 20px 20px;
    border-radius: 5px;
    padding: 1rem;
}
.h2Conocenos{
    color:#FFF8E7 ;
    font-size: 3rem;
    margin-left: 0rem;
}
.parrafoConocenos{
    color:#FFF8E7 ;   
    font-size: 1.2rem;
    padding: 2rem;
    text-align:center;
}
.sectionConocenos{
    background-color: #333333;
    height: 18rem;
    width: 406px;
}
.h2Conocenos{
    margin-left: 4rem;
    text-decoration: underline;
    color: #7a001f;
}
.h3Conocenos{
    margin-left: 4rem;
    color:#FFF8E7 ;
    text-decoration: none;
    font-size: 1.5rem;
}
.divContactoPadre{
    margin: 0rem ;
    display: grid;
    grid-template-areas: 
    "logo2 email"
    "logo1 tel";
    grid-template-columns: 70px 70px;
    grid-template-rows: 140px 140px;
    background-color: #21212100;
    border-radius: 50px;
    text-align: center;
}
.imgContacto1{
    height: 2rem;
    width: 2rem;
    object-fit: contain;
    grid-area: logo1;
    margin-left: 1rem;
}
.imgContacto2{
    height: 2rem;
    width: 2rem;
    object-fit: contain;
    grid-area: logo2;
    margin-left: 1rem;
    margin-top: 5rem;
}
.h2ContactoHijo1{
    font-size: 1rem;
}
.h2ContactoHijo2{
    font-size: 1rem;
}
footer{
    color: #FFF8E7;
    background-color: #212121;
    height: 160px;
    width: 406px;
    margin-top: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    display: grid;
    grid-area: footer;
    grid-template-areas:
    "logo1 logo2 logo3"
    "parrafo parrafo parrafo";
    grid-template-rows: 90px 90px;
    grid-template-columns: 50px 50px 50px;
}
.logosFooter1{
    grid-area: logo1;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    margin-left:0;
    border-color: #212121;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 15px;
}
.logosFooter2{
    grid-area: logo2;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    margin-left:0;
    border-color: #212121;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 15px;
}
.logosFooter3{
    grid-area: logo3;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    margin-left:0;
    border-color: #212121;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 15px;
}
.footerParrafo{
    grid-area: parrafo;
    padding-top: 0rem;
    padding-left: 2rem;
}

/* PAGINA CONTACTO */
.h1Contacto{
    background-color: #212121;
    color: #FFF8E7;
    text-align: center;
    width: auto;
    font-size: 2rem;
}
.divContactoPadre{
    margin: 0rem ;
    display: grid;
    grid-template-areas: 
    "logo2 email"
    "logo1 tel";
    grid-template-columns: 70px 70px;
    grid-template-rows: 140px 140px;
    background-color: #21212100;
    border-radius: 50px;
    text-align: center;
}
.imgContacto1{
    height: 2rem;
    width: 2rem;
    object-fit: contain;
    grid-area: logo1;
    margin-left: 1rem;
}
.imgContacto2{
    height: 2rem;
    width: 2rem;
    object-fit: contain;
    grid-area: logo2;
    margin-left: 1rem;
    margin-top: 5rem;
}
.h2ContactoHijo1{
    grid-area: email;
    margin-top: 5.5rem;
}
.h2ContactoHijo2{
    grid-area: tel;
    margin-top: 1rem;
}
.containerContacto {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #333333;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.mainContacto{
    background-color:#8080002d;
    border-radius: 50px;
}
.formContacto {
    display: flex;
    flex-direction: column;
}
.contactoTituloForm{
    color: #FFF8E7;
}
.labelContacto {
    margin-bottom: 8px;
    color: #FFF8E7;
}
.subtitulosFormulario{
    color: #FFF8E7 ;
}
input, textarea {
    margin-bottom: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
#mensaje{
    resize: none;
}
input[type="submit"] {
    background-color: #333;
    color: #FFF8E7;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
    color: #FFF8E7;
}
}

                /* FUENTE DE LETRA*/
@font-face {
    font-family: 'Merriweather', serif;
    src: url(https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap);
}

